<h1>LOGIN HERE</h1>
<% if flash[:notice] %>
	<%= "Error: #{flash[:notice]}" %>
<% end %>
<%= form_tag(login_path, method: 'post') do %>
	<p> Name: <input name=username></p>
  <p> Password: <input name="password" type="password" /></p>
  <input type=submit value='login'>
<% end %>

<br>
<div>
	<p> <%= link_to("Click here to Sign Up", new_user_path) %> </p>
</div>
<p> <%= link_to("Return to Homepage", main_menu_path) %> </p>