<% if session[:user_name] %>
	<% display_name = session[:user_name] %>
<% else %>
	<% display_name = "Guest" %>
<% end %>

<h1>Welcome <%= display_name%></h1>
<div>
	<p><%= link_to 'Search Bar Here', '/search'%>
	
	
	
	
	 </p>
	<p> <%= link_to("Show All Slangs", slangs_path) %> </p>
</div>