<article id="main_page">
<% if session[:user_name] %>
	<% display_name = session[:user_name] %>
<% else %>
	<% display_name = "Guest" %>
<% end %>

<h1>Welcome <%= display_name%></h1>
<div>
	
	
	<%= form_tag(search_slang_path, :method => "get") do %>  
  
    <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
     
      <%= button_tag "Search slang", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
    
<% end %>
	
	
	 </p>
	
</div>
</article>