<%#This is used to keep track of which page u goto after logging in %>
<%session[:before_login_url] = request.original_url%> 
<article>
<h1>Slangs</h1>
<p>
<%@slangs.each do |slang|%>
<%= link_to slang.phrase, slang %> <br>
<% end %>
</p>
<%if session[:user_id]%>
<%= button_to 'Create New Slang', new_slang_path, method: "get" %>
<% else %>
<%end %>

</article>