

#login_out_button {
	float:right;
}
#book_gif {
	float: right;
	margin: 0cm;
}

#main_page {
	text-align: center;
	margin: 10em;
}

#slang_edit {
	text-align: center;
	margin: 10em;
	
}

#book_title_url{
	text-align: left;
	padding: 1cm;
}
