// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {background-color: #3b3d63;
	color: #fff;}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

/* unvisited link */
a:link, a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: #00ff08;
}

/* selected link */
a:active {
  color: #00ab05;
}